@page "/mainpage"
@inject NavigationManager navigationManager
@inject IMainPageService mainService


<div class="container mx-auto text-center">
    <h1 class="font-weight-bold">Join to a game using game code</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" @bind-value="gameCode" placeholder="Game code" aria-label="Game code" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-success" @onclick="() => JoinGame()" type="button">Join</button>
        </div>
    </div>
    <p class="text-danger">@errorMessage</p>
    <br />
    <br />
    <h1 class="font-weight-bold">Choose your Playlist</h1>
    <br />
    <div class="container mx-auto" style="display: flex; flex-wrap: wrap; gap: 10px;">
        @foreach (var playlist in mainService.playlists)
        {
            <div class="card" style="margin:auto; width: 15rem;">
                <img class="card-img-top" src="@playlist.Songs.FirstOrDefault().Picture" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@playlist.PlaylistName</h4>
                    <p class="card-text">
                        Number of Tracks: @playlist.Songs.Count()
                        <br />
                        Created by: @playlist.Creator.Username
                    </p>
                    <button class="btn btn-danger" @onclick="() => DeletePlaylist(playlist.Id)" type="button">Delete</button>
                    <button class="btn btn-warning" @onclick="() => EditPlaylist(playlist.Id)" type="button">Edit</button>
                    <button class="btn btn-success" @onclick="() => PlayGameOne(playlist.Id)" type="button">Play</button>
                </div>
            </div>
        }
    </div>
</div>



@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    public string gameCode { get; set; } = string.Empty;
    public string errorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await mainService.GetPlaylists();
    }

    public async Task JoinGame()
    {
        var authState = await authenticationState;
        var user = authState.User;
        var id = new Guid(user.FindFirst(ClaimTypes.NameIdentifier)?.Value);
        HttpResponseMessage message = await mainService.JoinGame(gameCode, id);
        var responseStatusCode = message.StatusCode;
        var returnedMessage = await message.Content.ReadAsStringAsync();

        if (responseStatusCode == System.Net.HttpStatusCode.OK)
        {
            navigationManager.NavigateTo("multiGame");
        }
        else
        {
            errorMessage = returnedMessage;
        }
    }

    public async Task DeletePlaylist(Guid id)
    {
        await mainService.DeletePlaylists(id);
        await InvokeAsync(() => StateHasChanged());
        //await mainService.GetPlaylists();
    }

    public void PlayGameOne(Guid id)
    {
        navigationManager.NavigateTo($"gameCreator/{id.ToString()}");
    }

    public void EditPlaylist(Guid id)
    {
        navigationManager.NavigateTo($"editPlaylistMain/{id.ToString()}");
    }

}
