@page "/profile"
@page "/userProfile/{Id}"
@inject NavigationManager navigationManager
@inject IProfileService profileService

<div class="container mx-auto">
@if (Id == null)
{
    <h1 style="font-weight:bold">Hello @currentUser.Username, welcome to your profile!</h1>
}
else
{
        <h1 style="font-weight:bold">This is profile of @currentUser.Username</h1>
}
<h3 style="font-weight:bold">User Infos:</h3>
<h6>Email: @currentUser.Email</h6>
<h6>Saved playlists: @profileService.favouritePlaylists.Count()</h6>
<h6>Created playlists: @profileService.createdPlaylists.Count()</h6>
<br />
@if (Id == null)
{
    <h3 class="font-weight-bold">Show</h3>
<select @onchange="(e) => ChangePlaylists(e.Value)">
    <option value="True" selected>Created playlists</option>
    <option value="False">Saved playlists</option>
</select>
}
<br />
@if (isCreatedShow == true)
{
    @if (Id == null)
    {
        <h1 style="font-weight:bold">Your Playlists</h1>
        <button class="btn btn-success" @onclick="() => CreateNew()" type="button">Create new playlist</button>
        <br />
        <br />
    }
    else
    {
        <h1 style="font-weight:bold">Created Playlists</h1>
        <br />
        <br />
    }
    <div class="container">
        <div class="row">
        @foreach (var playlist in profileService.createdPlaylists)
        {
            <div class="col-3">
            <div class="card" style="margin:auto; width: 15rem;">
                <img class="card-img-top" src="@playlist.Songs.FirstOrDefault().Picture" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@playlist.PlaylistName</h4>
                    <p class="card-text">
                        Number of Tracks: @playlist.Songs.Count()
                        <br />
                        @playlist.favourites <span class="oi oi-thumb-up" aria-hidden="true" style="font-size: 110%;"></span>
                    </p>
                    @if (Id == null)
                    {
                        <button class="btn btn-danger" @onclick="() => DeletePlaylist(playlist.Id)" type="button">Delete</button>
                        <button class="btn btn-warning" @onclick="() => EditPlaylist(playlist.Id)" type="button">Edit</button>
                    }
                    <button class="btn btn-success" @onclick="() => PlayGameOne(playlist.Id)" type="button">Play</button>
                </div>
            </div>
            </div>
        }
        </div>
    </div>

}
else
{
        <h1 style="font-weight:bold">Saved Playlists</h1>
    <br />
    <br />
    <div class="container">
        <div class="row">
        @foreach (var playlist in profileService.favouritePlaylists)
        {
            <div class="col-3">
            <div class="card" style="margin:auto; width: 15rem;">
                <img class="card-img-top" src="@playlist.Songs.FirstOrDefault().Picture" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@playlist.PlaylistName</h4>
                    <p class="card-text">
                        Number of Tracks: @playlist.Songs.Count()
                        <br />
                        Created by: <a href="" @onclick="()=>GoToProfile(playlist.Creator.Id)" @onclick:preventDefault>@playlist.Creator.Username</a>
                    </p>
                    <button class="btn btn-success" @onclick="() => PlayGameOne(playlist.Id)" type="button">Play</button>
                </div>
            </div>
            </div>
        }
        </div>
    </div>
}
</div>



@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    [Parameter]
    public string? Id { get; set; } = string.Empty;
    public Guid currentUserId = Guid.Empty;
    public User currentUser = new User();
    public string currentUserName = string.Empty;
    public bool isCreatedShow = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login", true);
        }
        else
        {

            if (Id == null)
                currentUserId = new Guid(user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value);  
            else
                currentUserId = new Guid(Id);

            await profileService.GetUser(currentUserId);

            if (profileService.userProfile == null)
            {
                navigationManager.NavigateTo("/mainpage", true);
            }
            else
            {
                //currentUserName = profileService.userProfile.Username;
                currentUser = profileService.userProfile;
                await profileService.GetCreatedPlaylist(currentUserId);
            }
        }
    }

    public void GoToProfile(Guid id)
    {
        navigationManager.NavigateTo($"/userProfile/{id.ToString()}", true);
    }

    void ChangePlaylists(object args)
    {
        isCreatedShow = bool.Parse(args.ToString());
        StateHasChanged();
    }

    public async Task DeletePlaylist(Guid id)
    {
        await profileService.DeletePlaylists(id);
        await InvokeAsync(() => StateHasChanged());
    }

    public void PlayGameOne(Guid id)
    {
        navigationManager.NavigateTo($"gameCreator/{id.ToString()}",true);
    }

    public void EditPlaylist(Guid id)
    {
        navigationManager.NavigateTo($"editPlaylistProfile/{id.ToString()}");
    }

    public void CreateNew()
    {
        navigationManager.NavigateTo("createPlaylist");
    }
}
